<div *ngIf="animal">
    <div>
        <table id="animaldetails">
            <tr>
                <th id="tablh">attribute</th>
                <th id="tableh">value</th>
            </tr>
            <tr>
                <td>name</td>
                <td>{{animal.name}}</td>
            </tr>
            <tr>
                <td>age</td>
                <td>{{animal.age}}</td>
            </tr>
            <tr>
                <td>category</td>
                <td>{{animal.category}}</td>
            </tr>
        </table>
    </div>
</div>