<div>
    <h2>Edit User</h2>
    id: {{user.id}}<br />
    name: <input type="text" [(ngModel)]="user.name" placeholder="{{user.name}}" value="name"><br />
    email: <input type="text" [(ngModel)]="user.email" placeholder="{{user.email}}"><br />
    birthday: <input type="text" [(ngModel)]="user.birthday" placeholder="{{user.birthday}}"><br />
    password: <input type="text" [(ngModel)]="user.password" placeholder="{{user.password}}"><br />

    <button type="submit" (click)="updateUser(user)">Commit Changes</button>

</div>