<div>
  <div>
 <!--   <h2>Edit User</h2>
    id: {{user.id}}<br />
    name: <input type="text" [(ngModel)]="user.name" placeholder="{{user.name}}" value="name"><br />
    email: <input type="text" [(ngModel)]="user.email" placeholder="{{user.email}}"><br />
    birthday: <input type="text" [(ngModel)]="user.birthday" placeholder="{{user.birthday}}"><br />
    password: <input type="text" [(ngModel)]="user.password" placeholder="{{user.password}}"><br />

    <button type="submit" (click)="updateUser(user)">Commit Changes</button>

</div>
added from test/admin/add-edit-books-publishers on 10/3/19
This is in the wrong branch, but let's keep it in here until we're sure
-->

    <div class="container">
        <table>
            <tr>
                <th>Current info</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{dummyUser.name}}</td>
            </tr>
            <tr>
                <td>email</td>
                <td>{{dummyUser.email}}</td>
            </tr>
            <tr>
                <td>password</td>
                <td>{{dummyUser.password}}</td>
            </tr>
            <tr>
                <td>birthday</td>
                <td>{{dummyUser.birthday}}</td>
            </tr>
            <tr>
                <td>reading list</td>
                <td>{{dummyUser.readingList}}</td>
            </tr>
        </table>
    </div>
    <input type="button" name="editInfo" value="edit info">
</div>

<div>
    <div class="container" id="editInfoForm">
        <h1>Edit Info</h1>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="{{dummyUser.name}}">
            </div>

            <div class="form-group">
                <label for="email">email</label>
                <input type="email" class="form-control" id="email" placeholder="{{dummyUser.email}}">
            </div>

            <div class="form-group">
                <label for="birthday">birthday</label>
                <input type="date" class="form-control" id="birthday" placeholder="{{dummyUser.birthday}}">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>

        </form>
    </div>
</div>
</div>