<div>
    <h1>List of Books</h1>
    <table border='1px'>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Reivews</th>
        </tr>
        <tr *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td *ngFor="let author of book.authors">{{author.firstName}} {{author.lastName}} </td>
            <td>{{book.publisher.pubName}}</td>
            <td>
                <app-user-read-review></app-user-read-review>
            </td>
        </tr>
    </table>
</div>