<div>
    <div>
        <table border='1px'>
            <tr>
                <th>Title</th>
                <th>Publisher</th>
                <th>Authors</th>
                <th>Reviews</th>
            </tr>
            <tr *ngFor="let book of books">
                <td> {{book.title}}</td>
                <td> {{book.publisher.pubName}}</td>
                <td>
                    <p *ngFor="let author of book.authors">{{author.firstName}} {{author.lastName}}</p>
                </td>
                <td>
                    <app-user-read-review [book]=book></app-user-read-review>
                </td>
            </tr>
        </table>
    </div>
</div>
