<div>
  <div class="container" id="registration">
      <h1>Registration</h1>
      <form>
          <div class="form-group">
              <label for="useerEmail">Enter Email</label>
              <input type="text" class="form-control" id="email" placeholder="{{dummyUser.email}}">
          </div>

          <div class="form-group">
            <label for="fullName">Enter full name</label>
            <input type="text" class="form-control" id="fullName" placeholder="{{dummyUser.fullName}}">
        </div>
        <div class="form-group">
          <label for="password">Create Password</label>
          <input type="password" class="form-control" id="password" placeholder="{{dummyUser.password}}">
      </div>

          <div class="form-group">
              <label for="birthDate">Enter Birthdate</label>
              <input type="Date" class="form-control" id="dob" placeholder="{{dummyUser.dob}}">
          </div>

          <button type="submit" class="btn btn-success">Submit</button>

      </form>
  </div>
</div>