<div>
    <div class="container" id="userlogin">
        <h1>User Login</h1>
        <form>
            <div class="form-group">
                <label for="userEmail">User Email</label>
                <input type="email" class="form-control" id="email" placeholder="{{dummyUser.email}}">
            </div>

            <div class="form-group">
                <label for="userPassword">Password</label>
                <input type="password" class="form-control" id="password" placeholder="{{dummyUser.password}}">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>

        </form>
    </div>
